@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Squada+One|Open+Sans|Baloo+Da+2:wght@700|Roboto:100,300,400,500,700,900&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}

.container {
	max-width: 1250px;
}

@media only screen and (width: 2080px) {
	.container {
		max-width: 90%;
	}
}

.container-fluid {
	max-width: 80% !important;
	/*Set your own width %; */
}

@media only screen and (max-width: 600px) {
	.container-fluid {
		max-width: 95% !important;
		/*Set your own width %; */
	}
}




.banglafont {
	font-family: 'Baloo Da 2', cursive;
}

@media only screen and (max-width: 600px) {
	.banglafont {
		font-size: 12px;
	}
}

.heroimage {
	background-image: url("../img/bg111.svg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

@media only screen and (max-width: 600px) {
	.heroimage {
		height: 100vh;
	}
}


.txtshadow {
	text-shadow: 3px 3px 20px #fff;
}

.txtshadowdark {
	text-shadow: 3px 3px 20px #111;
}


.headingStyle1 h2 {
	font-family: 'Rajdhani', sans-serif;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 3px 3px 10px #333;
	border-bottom: 2px solid hsla(190, 80%, 40%, 1);
	background: linear-gradient(0deg, #ccc 0%, rgba(255, 255, 255, 0) 100%);
}

@media only screen and (max-width: 600px) {
	.headingStyle1 h2 {
		font-size: 30px;
		letter-spacing: -1px;
		text-align: center;
	}
}

/*
	.H1ComonStyle1 {
	    color:#fff;
	    font-size:45px;
	    font-weight:800;
	    text-transform: uppercase;
	    text-shadow: 3px 3px 10px #333;
	    margin-bottom:25px;
	    letter-spacing:2px;
	    border-bottom: 3px solid hsla(190, 80%, 40%, 1);
	    background: linear-gradient(0deg, #ccc 0%, rgba(255,255,255,0) 100%);
	} @media only screen and (max-width: 600px) {
	      .H1ComonStyle { font-size:40px; letter-spacing:0px;}
  	}
*/
.H1ComonStyle1 {
	color: #fff;
	font-size: 40px;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 3px 3px 10px #333;
	margin-bottom: 25px;
	letter-spacing: 2px;
	border-bottom: 1px solid skyblue;
	background: #fff;
}

@media only screen and (max-width: 600px) {
	.H1ComonStyle1 {
		letter-spacing: 0px;
	}
}

.H1ComonStyle2 {
	font-family: 'Rajdhani', sans-serif;
	color: #fff;
	font-size: 40px;
	padding: 20px 0px 10px;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 3px 3px 10px #333;
	margin-bottom: 25px;
	letter-spacing: 2px;
	border-bottom: 1px solid #ddd;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 40%, rgba(108, 117, 125, 0.5) 100%);
}

@media only screen and (max-width: 600px) {
	.H1ComonStyle2 {
		letter-spacing: 0px;
	}
}

.H1ComonStyle3 {
	font-family: 'Rajdhani', sans-serif;
	color: #dcffee;
	font-size: 40px;
	padding: 20px 0px 10px;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 3px 3px 10px #333;
	border-bottom: 1px solid #ddd;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

@media only screen and (max-width: 600px) {
	.H1ComonStyle3 {
		font-size: 30px;
		letter-spacing: 0px;
	}
}

.H1ComonStyle4 {
	font-family: 'Rajdhani', sans-serif;
	color: #fff;
	font-size: 40px;
	font-weight: 800;
	line-height: .9;
	text-transform: uppercase;
	text-shadow: 3px 3px 10px #333;
	background: linear-gradient(0deg, #ccc 0%, rgba(255, 255, 255, 0) 100%);
}

@media only screen and (max-width: 600px) {
	.H1ComonStyle4 {}
}

.H2ComonStyle4 {
	font-family: 'Rajdhani', sans-serif;
	color: #fff;
	font-size: 35px;
	line-height: .9;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 3px 3px 10px #333;
	background: linear-gradient(180deg, #ccc 0%, rgba(255, 255, 255, 0) 100%);
}

@media only screen and (max-width: 600px) {
	.H2ComonStyle4 {}
}

.borderbtm {
	border-bottom: 5px solid linear-gradient(158deg, rgba(44, 140, 205, 1) 0%, rgba(44, 53, 122, 1) 100%);
	height: 5px;
	width: 100%;
	background: linear-gradient(158deg, rgba(44, 140, 205, 1) 0%, rgba(44, 53, 122, 1) 100%);
}


.bgg2 {
	text-shadow: 3px 3px 10px #bbb;
	border-bottom: 1px solid #ddd;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 40%, rgba(108, 117, 125, 0.5) 100%);
}

@media only screen and (max-width: 600px) {
	.bgg2 {
		letter-spacing: 0px;
	}
}





.H1Comon4 {
	font-family: 'Rajdhani', sans-serif;
	color: #fff;
	font-size: 40px;
	font-weight: 800;
	line-height: 1.6;
	text-transform: uppercase;
	text-shadow: 3px 3px 10px #333;
}

@media only screen and (max-width: 600px) {
	.H1Comon4 {
		font-size: 24px;
	}
}

.H1ComonSub4 {
	font-family: 'Rajdhani', sans-serif;
	color: #555;
	font-weight: 500;
	text-shadow: 2px 2px 10px #333;
}

@media only screen and (max-width: 600px) {
	.H1ComonSub4 {}
}



.H2Comon4 {
	font-family: 'Rajdhani', sans-serif;
	color: #fff;
	font-size: 35px;
	font-weight: 800;
	text-shadow: 3px 3px 10px #333;
}

@media only screen and (max-width: 600px) {
	.H2Comon4 {
		font-size: 22px;
		line-height: 25px;
	}
}

.SubHeadComon1 {
	color: #555;
	border-left: 10px solid hsla(190, 80%, 40%, 1);
	padding: 5px 10px;
	text-transform: uppercase;
	background: linear-gradient(0deg, rgba(216, 216, 216, 0.6) 0%, rgba(216, 216, 216, 1) 15%, rgba(255, 255, 255, 0) 100%);
}

.SubHeadComon2 {
	color: #555;
	font-weight: bold;
	border-left: 10px solid hsla(190, 80%, 40%, 1);
	padding: 5px 10px;
	text-transform: uppercase;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
}

.SubHeadComon3 {
	color: #555;
	border-bottom: 1px solid hsla(190, 80%, 40%, 1);
	padding: 6px 10px;
	text-transform: uppercase;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
}

.SubHeadComon4 {
	color: #555;
	border-bottom: 1px solid hsla(190, 80%, 40%, 1);
	padding: 6px 10px;
	text-transform: uppercase;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
}


.bgTopGard {
	background: linear-gradient(180deg, #ccc 0%, rgba(255, 255, 255, 0) 100%);
}

.bgBotomGard {
	background: linear-gradient(0deg, #ccc 0%, rgba(255, 255, 255, 0) 100%);
}

.H3ComonStyle1 {
	color: #fff;
	font-size: 30px;
	padding: 20px 0px 10px;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 3px 3px 10px #333;
	margin-bottom: 25px;
	letter-spacing: 2px;
	border-bottom: 1px solid #ddd;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 40%, rgba(108, 117, 125, 0.5) 100%);
}

@media only screen and (max-width: 600px) {
	.H3ComonStyle1 {
		letter-spacing: 0px;
	}
}

.txtshadow {
	text-shadow: 3px 3px 20px #fff;
}

.bg_pageinfotop {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 40%, rgba(108, 117, 125, 0.8) 100%);
}

.HeadBottomborderRow {
	color: #444;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 3px 3px 20px #fff;
	border-bottom: 2px solid hsla(190, 80%, 40%, 1);
	background: linear-gradient(0deg, #eee 0%, rgba(255, 255, 255, 0) 100%);
}

.HeadBottomborder {
	padding: 8px;
	text-shadow: 3px 3px 20px #fff;
	border-bottom: 2px solid hsla(190, 80%, 40%, 1);
	text-transform: uppercase;
	background: linear-gradient(0deg, #ccc 0%, rgba(255, 255, 255, 0) 100%);
}

/* index */
.txtcolor {
	background: linear-gradient(135deg, #f9ffbc 20%, #009fff 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* service menu hover
		.hvr {
			background-color: ;
			transition: all .3s;
		}
		.hvr:hover {
			background-color: #ddd;
			transform: translateX(5px);
		}
		 */
.bg_pageinfotop {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 50%, rgba(108, 117, 125, 0.8) 100%);
}

.SubHead {
	border-left: 10px solid hsla(190, 80%, 40%, 1);
	text-transform: uppercase;
	background-color: #ddd;
	padding: 5px 10px;
	color: #444;
}

.SubHead1 {
	border-left: 8px solid hsla(190, 80%, 40%, 1);
	padding: 5px 10px;
	color: #444;
	text-transform: uppercase;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);

}

.SubHead2 {
	font-weight: bold;
	border-bottom: 3px solid hsla(190, 80%, 40%, 1);
	text-transform: uppercase;
	background: linear-gradient(0deg, #ccc 0%, rgba(255, 255, 255, 0) 100%);
	padding: 5px 10px;
	color: #444;
}


.SubHead3 {
	border-bottom: 5px solid hsla(190, 80%, 40%, 1);
	text-transform: uppercase;
	padding: 5px 0px;
	color: #444;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 40%);
}

.SubHead4 {
	padding: 15px;
	color: #222;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}



.txtbox1 {
	color: black;
	font-weight: 400;
	text-align: justify;
}

@media only screen and (max-width: 600px) {
	.txtbox1 {
		padding: 0;
	}


	.SubHeadBottomborder {
		color: #777;
		padding: 8px;
		text-transform: uppercase;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
		border-bottom: 15px solid hsla(190, 80%, 40%, 1);

	}

	/* Contact Page */
	.GetInTouch {
		font-size: 45px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: white;
		margin: 40px 30px 30px;
		text-align: right;
	}
}

@media only screen and (max-width: 600px) {
	.GetInTouch {
		font-size: 30px;
		text-align: center;
	}
}

/* Google map */
.map-container-2 {
	overflow: hidden;
	position: relative;
}

.map-container-2 iframe {
	left: 0;
	top: 0;
	height: 30px;
	width: 100%;
	position: absolute;
}


/*************Shadow*/
.ushadow {
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 6px 6px -6px gray;

}

/*material-icons End *******************************/


/*Box 16 Start *******************************/
.box16 {
	text-align: center;
	color: #fff;
	position: relative
}

.box16 .box-content,
.box16:after {
	width: 100%;
	position: absolute;
	left: 0;
}

.box16:after {
	content: "";
	height: 100%;
	background: linear-gradient(to bottom,
			rgba(0, 0, 0, 0) 0,
			rgba(0, 0, 0, .08) 69%,
			rgba(0, 0, 0, .76) 100%);
	top: 0;
	transition: all .5s ease 0s
}

.box16 .post,
.box16 .title {
	transform: translateY(145px);
	transition: all .4s cubic-bezier(.13, .62, .81, .91) 0s
}

.box16:hover:after {
	background: linear-gradient(to bottom,
			rgba(0, 0, 0, .01) 0,
			rgba(0, 0, 0, .09) 11%,
			rgba(0, 0, 0, .12) 13%,
			rgba(0, 0, 0, .19) 20%,
			rgba(0, 0, 0, .29) 28%,
			rgba(0, 0, 0, .29) 29%,
			rgba(0, 0, 0, .42) 38%,
			rgba(0, 0, 0, .46) 43%,
			rgba(0, 0, 0, .53) 47%,
			rgba(0, 0, 0, .75) 69%,
			rgba(0, 0, 0, .87) 84%,
			rgba(0, 0, 0, .98) 99%,
			rgba(0, 0, 0, .94) 100%)
}

.box16 img {
	width: 100%;
	height: auto;
}

.box16 .box-content {
	padding: 5px;
	margin-bottom: 20px;
	bottom: 0;
	z-index: 1
}

.box16 .title {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 10px
}

.box16 .post {
	display: block;
	padding: 2px 0;
	font-size: 18px;
}

.box16 .social li a,
.icon li a {
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
}

.box16:hover .post,
.box16:hover .title {
	transform: translateY(0)
}

.box16 .social {
	list-style: none;
	padding: 0 0 5px;
	margin: 40px 0 40px;
	opacity: 0;
	position: relative;
	transform: perspective(300px) rotateX(-90deg) rotateY(0) rotateZ(0);
	transition: all .6s cubic-bezier(0, 0, .58, 1) 0s
}

.box16:hover .social {
	opacity: 1;
	transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0)
}

.box16 .social:before {
	content: "";
	width: 120px;
	height: 2px;
	background: #fff;
	margin: 0 auto;
	position: absolute;
	top: -20px;
	left: 0;
	right: 0
}

.box16 .social li {
	display: inline-block
}

.box16 .social li a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: linear-gradient(95deg, #777, #222);
	margin-right: 10px;
	transition: all .3s ease 0s
}

.box16 .social li a:hover {
	background: linear-gradient(95deg, #222, #777);
}

.box16 .social li:last-child a {
	margin-right: 0
}

@media only screen and (max-width:990px) {
	.box16 {
		margin-bottom: 30px
	}

	.box16 .title {
		font-size: 12px;
	}

	.box16 .box-content {
		padding: 10px;
		margin-bottom: 0px;
	}

	.box16 .post {
		font-size: 12px;
	}

	.box16 .social {
		list-style: none;
		padding: 0 0 5px;
		margin: 10px 0 5px;
		opacity: 0;
	}

	.box16 .social:before {
		content: "";
		width: 30px;
		height: 2px;
		margin: 0 auto;
		position: absolute;
		top: -10px;
		left: 0;
		right: 0
	}

	.box16 .social li a {
		display: block;
		width: 25px;
		height: 25px;
		line-height: 25px;
		margin-right: 5px;
		transition: all .3s ease 0s
	}

	.box16 .social li a,
	.icon li a {
		font-size: 10px;
	}

	.box16 .box-content {
		margin-bottom: 10px;

	}

	.box16 .post,
	.box16 .title {
		transform: translateY(50px);
		transition: all .4s cubic-bezier(.13, .62, .81, .91) 0s
	}

}


.cardstyle99 {
	color: black;
	text-decoration: none;
	border-top: 2px solid white;
	background: linear-gradient(0deg, #eee 0%, rgba(255, 255, 255, 0) 100%);
	max-height: 500px;
	padding: 20px;
	margin: 20px 0px;
	border-radius: 5px 20px 5px 40px;
	overflow-y: scroll;
	transition: all .3s cubic-bezier(0, 0, .58, 1) 0s;
}